footer
    .container
        nav.row.navbar.end-xs.middle-xs.anchor(role="navigation")
            ul.nav.navbar-nav.col-xs-6
                li.nav__element
                    a(href="#services").nav__element-item Услуги
                li.nav__element
                    a(href="#shares").nav__element-item Акции
                li.nav__element
                    a(href="#benefits").nav__element-item Преимущества
                li.nav__element
                    a(href="#reviews").nav__element-item Отзывы
                li.nav__element
                    a(href="#googlemap").nav__element-item Контакты
            .col-xs-3
                a(href="tel:88124071650").text--lg Тел:&nbsp;
                    b.text--md 8 (812) 407-16-50
            .col-xs-3.text--right
                a(href="#phone").btn.btn--info.fancybox Обратный звонок
            .col-xs-3.text--right.margtop20
                a(href="mailto:operator@flycopy.ru") Email: operator@flycopy.ru
            .col-xs-3.text--right.margtop20
                ul.list--inline
                    li.vk
                        a(href="#").text--success
                            i.icon-vkontakte
                    li.fa
                        a(href="#").text--success
                            i.icon-fa
                    li.inst
                        a(href="#").text--success
                            i.icon-instagram
        .copyright
            .row.between-xs.text--sm
                .col-xs-3
                    p.text--success © Flyprint, 2014-2015
                .col-xs-3.text--right
                    a.text--success(href="http://www.trinet.ru", target="_blank") Разработано в TRINET
