nav.row.middle-xs.end-xs.navbar.anchor(role="navigation")
    ul.nav.navbar-nav.col-xs-7
        li.nav__element
            a(href="#services").nav__element-item Услуги
        li.nav__element
            a(href="#shares").nav__element-item Акции
        li.nav__element
            a(href="#benefits").nav__element-item Преимущества
        li.nav__element
            a(href="#reviews").nav__element-item Отзывы
        li.nav__element
            a(href="#googlemap").nav__element-item Контакты
    .col-xs-2.text--right
        a(href="#phone").btn.btn--primary.fancybox Обратный звонок