.slideshow
    .flexslider
        ul.slides
            li
                img(src="images/slideshow_01.jpg")
                .slideshow__container
                    .slideshow__container-desc
                        h1 Онлайн заказ
                        p.font-lg Отправьте ваш файл нам на operator@flycopy.ru
                            | и заберите уже готовый заказ.
            li
                img(src="images/slideshow_02.jpg")
                .slideshow__container
                    .slideshow__container-desc
                        h1 Гарантия качества
                        ul.list-styled.font-lg
                            li Профессиональная команда
                            li Широкий парк новейшего оборудования
                            li Широкий парк новейшего оборудования
            li
                img(src="images/slideshow_03.jpg")
                .slideshow__container
                    .slideshow__container-desc
                        h1 Удобство
                        p.font-lg Мы работаем без выходных с 9 до 21 и
                            | находимся в 50 метрах от м."Достоевская"!
            li
                img(src="images/slideshow_04.jpg")
                .slideshow__container
                    .slideshow__container-desc
                        h1 Оперативность
                        p.font-lg Печать визиток от 15 минут!
                            | Высокопроизводительное оборудование.
            li
                img(src="images/slideshow_05.jpg")
                .slideshow__container
                    .slideshow__container-desc
                        h1 Бесплатная доставка
                        p.font-lg Курьер бесплатно доставит в нужное Вам место
                            | заказ от 3500 рублей.