//
// Partials -> Header
// ------------------------------------

.header__top {
  background-color: $gray-dark;
  color: $lighter;
  a {color: $lighter;}
}
.logo {
  background-color: $lighter;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  height: 131px;
}
.header__bottom {
  background-color: $lighter;
  .nav > li {
    padding: 10px 20px;
  }
}
.social__block {
  li {
    border-left: 1px solid $lighter;
    &:last-child {
      border-right: 1px solid $lighter;
    }
    i {
      line-height: 2.94em;
    }
  }
}